html {
    background-color: bisque;
    text-align: center;
}

img {
    border: 4px solid lightblue;
}

.list {
    display: table;
    margin: auto;
    text-align: left;
}

.link {
    margin: 16px auto;
    background-color: lightblue;
    width: 600px;
}